*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FDC5D0 100%);
    height:860px;
    border-bottom-left-radius: 500px 100px;
    border-bottom-right-radius: 500px 100px;
    nav{
        .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 200px;            
            .dropdown{
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    li{
                        width: 180px;
                        a{
                            transition: all 0.3s ease-in-out;
                        }
                        hr{
                            display: none;
                        }
                        &:hover{
                            a{
                                color: #FC377E;
                            }
                        }
                    }
                    button{
                        padding: 16px 32px;
                        border-radius: 80px;
                        background: var(--primary, #FC377E);
                        box-shadow: 0px 8px 40px 0px rgba(210, 77, 101, 0.26);
                        color: #fff;
                        border: 0;
                        outline: none;
                        transition: all 0.3s ease-in 0.2s;
                        &:hover{
                            background-color: transparent;
                            color: #FC377E;
                            border: 1px solid #FC377E;
                            padding: 15px 30px;
                            box-shadow: 0px 8px 40px 0px rgba(51, 254, 0, 0.556);
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            .nav-btn{
                display: none;
            }
        }
        .hero{
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-text{
                margin-left: 250px;
                margin: 0;
                h1{
                    width: 650px;
                    strong{
                        color: var(--primary, #FC377E);

                    }
                    color: var(--dark-blue, #2F327D);
                    font-family: "Gilroy";
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 700;
                    // line-height: 72px;
                }
                p{
                    margin: 20px 0;
                    strong{
                        color: var(--primary, #FC377E);
                        font-family: Gilroy;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 160%; /* 51.2px */
                    }
                    color: var(--dark-blue, #2F327D);
                    font-family: Gilroy;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;
                        &:hover{
                            color: #FC377E;
                            .radio{
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                                background-color: #FC377E;
                            }
                        }
                        .point{
                            width: 20px;
                            height: 20px;
                            border: 2px solid #FC377E;
                            border-radius: 50%;
                            background-color: transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                       
                    }
                }
                button{
                    margin-top: 20px;
                    padding: 10px 30px;
                    background-color: #FC377E;
                    color: #fff;
                    border-radius: 80px;
                    border: 0;
                    outline: none;
                    transition: all 0.4s ease;
                    &:hover{
                        padding: 9px 29px;
                        background-color: transparent;
                        color: #FC377E;
                        border: 1px solid #FC377E;
                    }
                }
            }
            
            .hero-img{
                display: flex;
                position: relative;
                .img{
                    position: absolute;
                }
                .heroImg{
                    width: 1000px;
                    z-index: 2;
                }
                .img1{
                    top:10%;
                    left: 40%;
                }
                .img2{
                    right: 10%;
                    bottom: 0;
                }
                .img3{
                    bottom: 22%;
                    left: 33%;
                }
                .img4{
                    top: 10%;
                    right: 10%;
                }
            }
        }


    }
}

@media (max-width:420px) and (min-width:320px) {
    header{
        height: 690px;
        .container{
            max-width: 420px;
            margin: 0 auto;
            .nav-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0;
                padding: 0 20px;
                .dropdown{
                    ul{
                        display: flex;
                        flex-direction: column;
                        position: fixed;
                        align-items: start;
                        right: -53%;
                        bottom: 0;
                        transition: all 0.3s ease;
                        li{
                            display: flex;
                            gap: 20px;
                            transition: all 0.4s ease;
                            &:hover{
                                hr{
                                    transition: all 0.4s ease;
                                    display: block;
                                    width: 2px;
                                    background-color: #FC377E;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
                .dropdown.active{
                    width: 420px;
                    background-color: #FC377E;
                    z-index: 9999;
                    ul{
                        right: 30%;
                        top: 10%;
                    }
                }
        
                .nav-btn{
                    display: block;
                    button{
                        border: 0;
                        outline: none;
                        background-color: transparent;
                    }
                    .exit{
                        display: none;
                    }
                }
            }
           

           
            .hero{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                .hero-img{
                    margin-top: 200px;
                    margin-bottom: 170px;
                    position: absolute;
                    left: -20%;
                    top: 0;
                    .img1{
                        width: 100px;
                    }
                    .img2{
                        width:200px ;
                    }
                    .img3{
                        width: 30px;
                    }
                    .img4{
                        width: 20px;
                        right: 20%;
                    }
                    .heroImg{
                        width: 502px;
                    }
                }
                .hero-text{
                    h1{
                        position: absolute;
                        top: 0;
                        font-size: 32px;
                        text-align: center;
                        width: 410px;
                        margin-top: 50px;
                    }
                    p{
                        margin-top: 650px;
                    }
                    button{
                        width: 90%;
                        padding: 13px 30px;
                        margin-left: 20px;
                        &:hover{
                            padding: 14px 30px;
                        }
                    }
                }
            }
        }
    }
}